@import "../styles.scss";

.c-app {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;

  @include mq($until: tablet) {
    padding: $global-spacing-unit-small;
  }

  &__main {
    width: auto;

    @include mq($until: tablet) {
      width: 100%;
    }
  }
}